.inputPlus {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 60px;
    // margin-bottom: 15px;
    &Value {
        min-width: 500px;
        color: #000000;
        background: #dbe2ef;
        border: 1px solid #b1b1b1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 10px;
        font-size: 20px;
    }

    &Button {
        height: 100%;
        border: none;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        background: #3f72af;
        &:hover {
            opacity: 0.6;
            transition: 0.8s all;
        }
    }
}
