.article { 
    min-width: 600px;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px 60px;
    margin-bottom: 20px;
    &Title {
        padding: 20px;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
    &Section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &Select {
            margin-right: 30px;
            width: 140px;
            height: 25px;
            font-size: 15px;
            text-align: center;
            border: none;
            border-radius: 5px;
            background-color: rgba($color: #3f72af, $alpha: 0.5);
        }
    }
    &NoTasks {
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
    }
    &ActiveTasks {
        margin: 20px 20px;
        font-size: 20px;
        text-align: center;
    }
}

