.article {
    min-width: 600px;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px 55px;
}

.title {
    padding: 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}